* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #333;
    width: 100%;
}

header {
    background-color: #1b1b1b;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    color: #ecf0f1;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}

#settings-icon {
    width: 17px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section, .posts-section, .chat-section, .connect-section {
    background-color: #38303e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.submit {
    background-color: #65f361;
    color: #313131;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#profile-section {
    flex: 1;
    text-align: center;
    max-width: 500px;
}

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.post-img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

#history {
    padding: 15px 0px;
}

.history-items{
    margin-top: 10px;
}

#posts-section {
    flex: 2;
    margin: 0 20px;
    max-width: 800px;
}

.section .post {
    background-color: #492d4a;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    padding: 20px;
}

#profile-section .post h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.section .post button {
    background-color: #65f361;
    color: #313131;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.post-title{
    margin-bottom: 10px;    
}

.post-date{
    margin-bottom: 10px;    
}

.interact-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
}

.interaction-section {
    width: fit-content;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

.interaction-icon {
    width: 28px;
    margin: 0px 10px;
}

.interaction-button {
    text-decoration: none;
}

.join-button {
    height: 32px;
}

/* #chat-section {
    flex: 1;
}

.chat-box {
    background-color: #492d4a;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.chat-box .message {
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
}

.chat-input input {
    flex: 1;
    padding: 5px;
}

.chat-input button {
    background-color: #27ae60;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.connect-section {
    flex: 1;
}

.connect-list {
    display: flex;
    justify-content: space-around;
}

.user-card {
    text-align: center;
}

.user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.user-card button {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

footer {
    text-align: center;
    background-color: #1b1b1b;
    color: #ecf0f1;
    padding: 20px 0;
    margin-top: 20px;
}

h1{
    color:white;
}

h2{
    color:white;
}

h3{
    color:white;
}

p{
    color:white;
}