*{
	margin: 0;
	padding: 0;
	font-family: 'poppins',sans-serif;
	box-sizing: border-box;
}
:root{
	--body-color: #1f1f1f;
	--nav-color: #641d75;
	--bg-color: #141414;
}

.dark-theme{
	--body-color: #0a0a0a;
	--nav-color: #171717;
	--bg-color: #000;
}

body{
	background: var(--body-color);
	transition: background 0.3s;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--nav-color);
	padding: 5px 5%;
	position: sticky;
	top: 0;
	z-index: 100;
}
.logo{
	width: 160px;
	margin-right: 45px;
}

.title {
	color: #f5f5f5;
	width: 72px;
}

nav .nav-left{
	margin-top: 2px;
	margin-bottom: 2px;
}

nav .nav-right{
	margin-top: 2px;
	margin-bottom: 2px;
}

.nav-left, .nav-right{
	display: flex;
	align-items: center;
}
.nav-left ul li{
	list-style: none;
	display: inline-block;
}
.nav-left ul li img{
	width: 28px;
	margin: 0 15px;
}
.nav-user-icon img{
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.search-box{
	background: #efefef;
	width: 350px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	padding: 0 15px;
}
.search-box img{
	width: 18px;	
}
.search-box input{
	width: 100%;
	background: transparent;
	padding: 10px;
	outline: none;
	border: 0;
}

.navigations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
	min-width: 80px;
	list-style-type: none; 
}

.navigation-button {
	width: fit-content;
	margin: 0px 10px;
	color: f5f5f5;
}

.navigation-button:hover {
	background-color: #4f175d; /* Background color on hover */
	border-radius: 5px; /* Rounded corners */
	transition: background-color 0.3s ease; /* Smooth transition */
}

.nav-user-icon{
	margin-left:30px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .left-sidebar, .right-sidebar {
        display: none; /* Hide sidebars on mobile */
    }

    .main-content {
        width: 100%; /* Full width for main content */
    }

    /* Stack the left and right header elements */
    nav {
        flex-direction: column;
        align-items: stretch;
		justify-content: space-between
    }

	.title {
        justify-content: center;
        width: 100%; /* Ensure it takes full width */
        text-align: center; /* Center the text */
    }

	nav .search-box {
		width: 15px;
		flex-grow: 1;
	}

    nav .right-navigation {
        flex-grow: 1; /* Allow the right navigation to take up remaining space */
    }

    /* Reduce margin for navigation buttons */
    nav .navigations .navigation-button {
        margin-left: 15px; /* Reduce margin for smaller screens */
		margin-right: 15px;
    }

	nav .nav-user-icon {
		margin-left: 15px;
		margin-right: 15px;
	}
}

/* Media query for mobile view */
@media (max-width: 500px) {
	/* Reduce margin for navigation buttons */
	nav .navigations .navigation-button {
		margin-left: 5px; /* Reduce margin for smaller screens */
		margin-right: 5px;
	}

	nav .nav-user-icon {
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media (max-width: 992px) and (min-width: 768px) {
    nav .search-box {
        width: 50%; /* Adjust width for smaller screens */
    }
}

.online{
	position: relative;
}
.online::after{
	content: '';
	width: 7px;
	height: 7px;
	border: 2px solid #fff;
	border-radius: 50%;
	background: #41db51;
	position: absolute;
	top: 0;
	right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 20px;
	background: var(--bg-color);
	padding:20px;
    border-radius: 4px;
    align-self: flex-start;
    overflow-y: auto; /* Enable vertical scrolling */
    height: calc(100vh - 70px); /* Ensure it takes the full height minus the sticky top */
}
/* Style the scrollbar for the left sidebar */
.left-sidebar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.left-sidebar::-webkit-scrollbar-track {
    background: var(--bg-color); /* Background of the scrollbar track to match site colors */
}

.left-sidebar::-webkit-scrollbar-thumb {
    background: var(--nav-color); /* Color of the scrollbar thumb to match nav color */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.left-sidebar::-webkit-scrollbar-thumb:hover {
    background: #5b6eae; /* Color of the scrollbar thumb on hover */
}

/* Firefox scrollbar styling for left sidebar */
.left-sidebar {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: var(--nav-color) var(--bg-color); /* Thumb and track color to match site colors */
}

.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 20px;
    align-self: flex-start;
    background: var(--bg-color);
    padding:20px;
    border-radius: 4px;
    color: #f5f5f5;
    overflow-y: auto; /* Enable vertical scrolling */
    height: calc(100vh - 70px); /* Ensure it takes the full height minus the sticky top */
}

/* Style the scrollbar for the right sidebar */
.right-sidebar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.right-sidebar::-webkit-scrollbar {
	width: 8px; /* Width of the scrollbar */
}

.right-sidebar::-webkit-scrollbar-track {
	background: var(--bg-color); /* Background of the scrollbar track to match site colors */
}

.right-sidebar::-webkit-scrollbar-thumb {
	background: var(--nav-color); /* Color of the scrollbar thumb to match nav color */
	border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.right-sidebar::-webkit-scrollbar-thumb:hover {
	background: #5b6eae; /* Color of the scrollbar thumb on hover */
}

.main-content{
    width: 47%;
}

.tournament {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
	margin-left: 10px;
}

.tournament-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
	border-radius: 50%;
}

.tournament-details {
    display: flex;
    flex-direction: column;
}

.tournament-placement {
    font-weight: bold;
    color: #fff;
}

.tournament-name, .tournament-date {
    color: #ccc;
    font-size: 14px;
}

/* See All button styles */
.seeall {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--nav-color); /* Match the site's nav color */
    color: #fff; /* White text color */
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    cursor: pointer; /* Pointer cursor on hover */
}

.seeall:hover {
    background-color: #5b6eae; /* Darker shade on hover */
}

.post:hover {
    background-color: #5b6eae; /* Darker shade on hover */
}

.imp-links a, .shortcut-links a{
	text-decoration: none;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	color: #f5f5f5;
	width: fit-content;
}
.imp-links a img{
	width: 25px;
	margin-right: 15px;	
}
.imp-links a:last-child{
	color: #f5f5f5;
}
.imp-links{
	border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
	width: 40px;
	border-radius: 4px;
	margin-right: 15px;
}
.shortcut-links p{
	margin: 25px 0;
	color: #f5f5f5;
	font-weight: 500;
}
.sidebar-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 18px;
}

.sidebar-group {
	margin-top: 20px;
}

.sidebar-group h4{
	margin: 10px 0px;
}

.sidebar-group a {
	margin: 20px 10px;
}

h4{
	font-weight: 600;
	font-size: 16px;
	color:#f5f5f5
}
.sidebar-title a{
	text-decoration: none;
	color:var(--nav-color);
	font-size: 12px;
}
.event{
	display: flex;
	font-size: 14px;
	margin-bottom: 20px;
}
.left-event{
	border-radius: 10px;
	height:65px;
	width:65px;
	margin-right:15px;
	padding-top:10px;
	text-align: center;
	position: relative;
	overflow:hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event p{
	font-size:12px;
}
.event a{
	font-size: 12px;
	text-decoration: none;
	color:var(--nav-color);
}
.left-event span{
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	background: var(--nav-color);
	color:#fff;
	font-size:10px;
	padding:4px 0;
}

.event:hover {
	background-color: #2c2f33; /* Background color on hover */
	border-radius: 5px; /* Rounded corners */
	transition: background-color 0.3s ease; /* Smooth transition */
}

.sidebar-ads{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 4px;
}

.online-list:hover {
	background-color: #2c2f33; /* Background color on hover */
	border-radius: 5px; /* Rounded corners */
	transition: background-color 0.3s ease; /* Smooth transition */
}

/* General styles */
.container {
	display: flex;
	justify-content: space-between;
	padding: 13px 5%;
}

.left-sidebar, .right-sidebar {
	flex-basis: 25%;
	position: sticky;
	top: 70px;
	align-self: flex-start;
	overflow-y: auto; /* Enable vertical scrolling */
	height: calc(100vh - 70px); /* Ensure it takes the full height minus the sticky top */
}

.main-content {
	width: 47%;
}

/* Hover effect for tournament items */
.tournament:hover {
	background-color: #2c2f33; /* Background color on hover */
	border-radius: 5px; /* Rounded corners */
	transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover effect for shortcut links */
.shortcut-links a:hover {
	background-color: #2c2f33; /* Background color on hover */
	border-radius: 5px; /* Rounded corners */
	transition: background-color 0.3s ease; /* Smooth transition */
}

/* See All button styles */
.seeall {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--nav-color); /* Match the site's nav color */
	color: #fff; /* White text color */
	text-align: center;
	text-decoration: none;
	border-radius: 5px; /* Rounded corners */
	font-weight: bold;
	transition: background-color 0.3s ease; /* Smooth transition for hover effect */
	cursor: pointer; /* Pointer cursor on hover */
}

.seeall:hover {
	background-color: #5b6eae; /* Darker shade on hover */
}

/* Media query for mobile view */
@media (max-width: 768px) {
	.container {
		flex-direction: column;
		padding: 10px;
	}

	.left-sidebar, .right-sidebar {
		display: none; /* Hide sidebars on mobile */
	}

	.main-content {
		width: 100%; /* Full width for main content */
	}
}

.activity-icon:hover {
	background-color: #2c2f33; /* Background color on hover */
	border-radius: 5px; /* Rounded corners */
	transition: background-color 0.3s ease; /* Smooth transition */
}

.your-profile {
    margin-bottom: 20px;
}

.your-profile p {
    margin: 25px 0;
    color: #f5f5f5;
    font-weight: 500;
}

.your-profile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.your-profile img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.your-profile .bio {
    margin-top: 5px;
    font-size: 14px;
    color: #ccc;
    text-align: center;
}

.online-list{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.online-list .online img{
	width:40px;
	border-radius: 50%;
}
.online-list .online{
	width: 40px;
	border-radius: 50%;
	margin-right: 15px;
}
.online-list .online:after{
	top:unset;
	bottom: 0;
}

.write-post-container{
	width: 100%;
	background:var(--bg-color);
	border-radius: 6px;
	padding:20px;
	color: #ac34ca;
}
.user-profile{
	display: flex;
	align-items: center;
}
.user-profile img{
	width:45px;
	border-radius: 50%;
	margin-right:10px;
}
.user-profile p{
	margin-bottom: 5px;
	font-weight: 500;
	color: #f5f5f5;
}
.user-profile small{
	font-size: 12px;
}
.post-input-container{
	padding-left:55px;
	padding-top:20px;
	padding-bottom: 40px;
}
.post-input-container textarea{
	width: 100%;
	resize:none;
	border:0;
	outline:0;
	border-bottom: 1px solid #ac34ca;
	background:transparent;
}
.post {
    background-color: #641d75;
    color: #f5f5f5;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
	float: right;
	margin-top: 20px;
	width: 80px;
}
.add-post-links a{
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #f5f5f5;
	margin-right: 30px;
	font-size: 13px;
}
.add-post-links img{
	width:20px;
	margin-right:10px;
}
.post-container{
	width: 100%;
	background:var(--bg-color);
	border-radius: 6px;
	padding: 10px;
	color:#f5f5f5;
	margin:20px 0;
}
.user-profile span{
	font-size: 13px;
	color: #f5f5f5;
}
.post-text{
	color: #f5f5f5;
	margin:15px 0;
	font-size: 15px;
}
.post-text span{
	color: #ac34ca;
	font-weight: 500;
}
.post-text a{
	color:#ac34ca;
	text-decoration: none;
}
.post-img{
	width: 100%;
	border-radius: 4px;
	margin-bottom: 5px;
}
.post-row{
	margin-top:10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.activity-icons div img{

	width:18px;
	margin-right:10px;
}
.activity-icons div{
	display: inline-flex;
	align-items: center;
	margin-right:30px;
}
.post-profile-icon{
	display: flex;
	align-items: center;
}
.post-profile-icon img{
	width: 20px;
	border-radius: 50%;
	margin-right:5px;
}
.post-row a{
	color:#9a9a9a;
}
.load-more-btn{
	display: block;
	margin:auto;
	cursor: pointer;
	padding:5px 10px;
	border:1px solid #9a9a9a;
	color:#626262;
	background:transparent;
	border-radius: 4px;
}
.footer{
	text-align: center;
	color:#9a9a9a;
	padding:10px 0 20px;
	font-size: 13px;
}
.settings-menu{
	position: absolute;
	width: 90%;
	max-width: 350px;
	background:var(--bg-color);
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	border-radius: 4px;
	overflow:hidden;
	top:108%;
	right:5%;
	max-height: 0;
	transition:max-height 0.3s;
}
.settings-menu-height{
	max-height:450px;
}

.user-profile a{
	font-size: 12px;
	color:#ac34ca;
	text-decoration: none;
}
.settings-menu-inner{
	padding:20px;
}
.settings-menu hr{
	border:0;
	height:1px;
	background:#9a9a9a;
	margin:15px 0;
}
.settings-links{
	display: flex;
	align-items: center;
	margin:15px 0;
}
.settings-links .settings-icon{
	width: 38px;
	margin-right: 10px;
	border-radius: 50%;
}
.settings-links a{
	text-decoration: none;
	display: flex;
	flex:1;
	align-items: center;
	justify-content: space-between;
	color: #f5f5f5;
}
#dark-btn{
	position: absolute;
	top:20px;
	right:20px;
	background:#ddd;
	width:45px;
	border-radius:15px;
	padding:2px 3px;
	cursor: pointer;
	display: flex;
	transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
	height:18px;
	width:18px;
	background:#fff;
	border-radius: 50%;
	display: inline-block;
}
#dark-btn.dark-btn-on{
	padding-left:23px;
	background:#666;
}


